<div class="container">
    <!-- Category Filter -->
    <div class="category-filter">
      <label for="category">Filter by Category:</label>
      <select id="category" (change)="onCategoryChange($event)">
        <option value="">All Categories</option>
        <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
      </select>
    </div>
  
    <!-- Book List -->
    <ul class="list-unstyled">
      <li *ngFor="let book of currentBooks" (click)="navigateToBook(book.bookId)">
        <img [src]="book.imageUrl" class="book-image" alt="{{ book.title }}">
        <div class="book-details">
          <h4 class="book-title">{{ book.title }}</h4>
          <div class="rating-container">
            <div class="stars">
              <span *ngFor="let star of stars; let index = index"
                [ngClass]="{'filled': index < roundedRating(book.rating)}">
                ★
              </span>
            </div>
            <div><span class="rating-text averageratingbox">{{ book.rating | number:'1.1-1'}}★</span></div>
          </div>
          <h4 class="price">
            
            <span style="color: black;">₹ {{ book.price | number:'1.0-0' }}</span>
          </h4>
        </div>
      </li>
    </ul>
  
    <!-- Pagination controls -->
    <div class="pagination-buttons">
      <button class="btn btn-primary mr-2" (click)="prevPage()" [disabled]="currentPage === 1">
        <i class="bi bi-arrow-left"></i>
      </button>
      <button class="btn btn-primary" (click)="nextPage()" [disabled]="currentPage === totalPages">
        <i class="bi bi-arrow-right"></i>
      </button>
    </div>
</div>
