<div class="slider">
    <h1>New Arrivals</h1>
    <div class="slider-container">
      <div *ngFor="let book of books" class="card" (click)="handleClick(book)">
        <div class="card-icon">
          <img [src]="book.imageUrl" [alt]="book.title">
        </div>
        <div class="card-content">
          <p>{{ book.author }}</p>
        </div>
      </div>
  
      <div *ngFor="let book of books" class="card" (click)="handleClick(book)">
        <div class="card-icon">
          <img [src]="book.imageUrl" [alt]="book.title">
        </div>
        <div class="card-content">
          <p>{{ book.author }}</p>
        </div>
      </div>
      <br><br><br>
    </div>
    
  </div>
  