.slider {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 400px;
    margin-bottom: 2%;
}

.slider-wrapper {
    display: flex;
    width: 100%;
    margin-bottom: 2%;
}

.slider-container {
    display: flex;
    animation: slide 70s linear infinite;
    width: calc(200px * 20 * 2 + 20px * 20);
    margin-bottom: 2%;
    /* Add this property */
    animation-play-state: running;
}

.slider:hover .slider-container {
    /* Pause the animation when hovering over the slider */
    animation-play-state: paused;
}

.card {
    width: 200px;
    height: 400px;
    margin: 0 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 2%;
}

.card:hover {
    transform: translateY(-7px);
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.3);
}

.card-icon {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #f8f8f8;
}

.card-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-content {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #333;
    background-color: #fff;
    border-top: 1px solid #ddd;
    box-sizing: border-box;
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 2%;
}

@keyframes slide {
    from {
        transform: translateX(-50%);
    }
}

@media (max-width: 768px) {
    .card {
        width: 150px;
        height: 300px;
        margin: 0 5px;
    }
    
    .card-icon {
        height: 70%;
    }
    
    .card-content {
        font-size: 14px;
    }
}

h1 {
    font-size: 2em;
    text-align: center;
}
