<div class="sidebar">
    <div class="sidebar-heading">Book Types</div>
    <div class="list-group">
      <a routerLink="/category/fiction" class="list-group-item list-group-item-action">Fiction</a>
      <a routerLink="/category/non-fiction" class="list-group-item list-group-item-action">Non-Fiction</a>
      <a routerLink="/category/science-fiction" class="list-group-item list-group-item-action">Science Fiction</a>
      <a routerLink="/category/fantasy" class="list-group-item list-group-item-action">Fantasy</a>
      <a routerLink="/category/mystery" class="list-group-item list-group-item-action">Mystery</a>
      <a routerLink="/category/horror" class="list-group-item list-group-item-action">Horror</a>
      <a routerLink="/category/romance" class="list-group-item list-group-item-action">Romance</a>
      <a routerLink="/category/history" class="list-group-item list-group-item-action">History</a>
      <a routerLink="/category/biography" class="list-group-item list-group-item-action">Biography</a>
      <a routerLink="/category/self-help" class="list-group-item list-group-item-action">Self-Help</a>
    </div>
  </div>
  