<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand anav" href="#">
      <img src="http://localhost:4200/assets/icon.jpg" alt="" width="50" height="50" class="d-inline-block align-text-top" style="margin-right: 5%;">
      <strong>Pustak Paradise</strong>
    </a>
    <div class="d-flex" *ngIf="searchVisible">
      <input
        type="text"
        [(ngModel)]="searchQuery"
        (input)="onSearch()"
        name="search"
        class="form-control me-2"
        placeholder="Search books by Title"
      />
    </div>
    <div class="navbtn">
      <div class="cart">
        <a [routerLink]="['/home']"><i class="bi bi-house-fill"></i>&nbsp;Home</a>
      </div>
      <div class="cart">
        <a [routerLink]="['/home/cart']"><i class="bi bi-cart-fill"></i>&nbsp;Cart</a>
      </div>
      <div class="login">
        <a *ngIf="!isLoggedIn" routerLink="/home/login"><i class="bi bi-person-fill"></i>&nbsp;Login</a>
        <a *ngIf="isLoggedIn" (click)="logout()"><i class="bi bi-person-fill"></i>&nbsp;Logout</a>
        <a *ngIf="isLoggedIn && roleId === 1" (click)="manageBooks()"><i class="bi bi-briefcase-fill"></i>&nbsp;Inventory</a>
      </div>
    </div>
  </div>
</nav>
