.navbar1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  padding: 10px 20px;
  margin-top: 5px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.appname {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbtn {
  display: flex;
  align-items: center;
}

  .anav {
    display: flex;
    align-items: center;
  }


.navbtn .cart,
.navbtn .login {
  margin-left: 10px;
}

.navbtn .cart a,
.navbtn .login a {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.navbtn .cart a:hover,
.navbtn .login a:hover {
  background-color: #CCD5AE;
  color: black;
}

/* Custom style for the search input */
.search-input {
  width: 100%; /* Full width of the parent container */
  max-width: 600px; /* Adjust this value to your preferred width */
  padding: 10px; /* Add padding if needed */
  font-size: 16px; /* Adjust font size if needed */
  border-color: black;
}

.me-2{
  width: 300px;
}
