<div class="slider">
    <h1>Categories</h1>
    <div class="slider-container">
      <div *ngFor="let category of categories" class="card" (click)="handleClick(category)">
        <div class="card-icon">
          <img [src]="category.imageUrl" [alt]="category.category">
        </div>
        <div class="card-content">
          {{ category.category }}
        </div>
      </div>
  
      <div *ngFor="let category of categories" class="card">
        <div class="card-icon">
          <img [src]="category.imageUrl" [alt]="category.category">
        </div>
        <div class="card-content">
          {{ category.category }}
        </div>
      </div>
    </div>
    
  </div>
  