<h1>Change Your Password</h1>
<form (ngSubmit)="onSubmit()" #passwordChangeForm="ngForm">
  <div>
    <label for="email">Email:</label>
    <p id="email">{{email}}</p>
  </div>
  
  <div>
    <label for="dateOfBirth">Date of Birth:</label>
    <p id="dateOfBirth">{{dateOfBirth}}</p>
  </div>
<!--   
  <div>
    <label for="token">Token:</label>
    <p id="token">{{token}}</p>
  </div> -->
  <div>
    <label for="otp">OTP:</label>
    <input id="otp" [(ngModel)]="otp" name="otp" type="text" required>
  </div>

  <div>
    <label for="newPassword">New Password:</label>
    <input id="newPassword" [(ngModel)]="newPassword" name="newPassword" type="password" required>
  </div>

  <div>
    <button type="submit">Save</button>
    <!-- Uncomment the Cancel button if needed -->
    <!-- <button type="button" (click)="onCancel()">Cancel</button> -->
  </div>
</form>
